-#=@home_page_html && @home_page_html.content.html_safe

<div style="width: 1200px; margin: auto; margin-bottom: 20px;">
<div style="float: left;">
<img alt="Homepage" src="/assets/slides/homepage.jpg"/>
</div>
<div style="padding: 10px; text-align: right; color: #efefef;background-image: url('/assets/slides/homepage_background.png');height: 334px;">
Blue Moon Harmonicas
</div>
</div>
<div class='block white css3' style='padding: 10px;'>
<h2>Welcome to Blue Moon Harmonicas LLC</h2>
<p>
<p> We Offer Custom Combs for All Hohner, Seydel and Suzuki Diatonic Harmonicas<p>
<p>All our Combs are 3D Designed and CNC Milled from the Finest Materials:</p>
<ul>
<li> Exotic Hardwood</li>
<li> DuPont™ Corian®</li>
<li> Aircraft Grade Aluminum</li>
<li> Fancy Acrylic</li>
<li>Hogany</li>
<li>Brass</li>
<li>German Silver</li>
</ul>
</p>
</div>
<div class='block white css3' style='padding: 10px;'>
<h2>Customized Harmonicas</h2>
<ul>
<li>Hohner Marine Bands</li>
<li>Hohner Special 20's</li>
<li>Hohner Rockets</li>
<li>Hohner MS-Series Harmonicas</li>
<li>Hohner Golden Melodys</li>
<li>Suzuki Manjis</li>
<li>Suzuki ProMasters</li>
<li>Suzuki Hammonds</li>
<li>Suzuki SUB-30's</li><p>
<p><h2>
SUB-30 Customization Kits</h2><p>
<ul>
<p><h2>
Powder Coated Covers</h2>
<ul>
<p><h2>Vintage and Pre-War Harmonicas</h2>
<ul><p>
</div>
