#slides
  = image_tag('slides/homepage.png')
.block.white.css3{style: 'padding: 10px;'}
  =@top_bit && @top_bit.content.html_safe
.block.white.css3{style: 'padding: 10px;'}
  =@bottom_bit && @bottom_bit.content.html_safe
