#slides
  = image_tag('slides/guarantee_slide.png')

.block.white.css3{style: 'padding: 10px;'}
  %h2 Custom Combs
  %p All of our combs are manufactured using CAD Software and precision CNC cutting technology ensuring they are cut to exacting standards.

  %p Available in Hard Wood
  Acrylic, Machined Aluminum, Solid Surface, Fancy Acrylic, Kirinite, Brass, and Mahogany (coming soon!)

  %ul
    %p Hohner models:
    %li Golden Melody
    %li Special 20
    %li Marine Band 1896
    %li Marine Band Deluxe (also fits Crossover)
    %li MS-Series (Blues Harp, Pro Harp, Big River, Cross Harp &amp; Meisterklasse)

  %ul
    %p Suzuki (Manji, ProMaster, SUB-30/BMH-30)

.block.white.css3{style: 'padding: 10px;'}
  %h2 Powder Coated Cover Plates
  %a(href="http://s1089.photobucket.com/user/bluemoonharmonicas/media/Blue%20Moon%20Picture%20Library/SPCoversBrass_zpsfa0ad256.jpg.html" target="_blank")
    %img(width="340" style="float: right;" src="http://i1089.photobucket.com/albums/i354/bluemoonharmonicas/Blue%20Moon%20Picture%20Library/SPCoversBrass_zpsfa0ad256.jpg" border="0" alt="MB Blue")

  %p Spice up your harp with a set of our Powder Coated Cover Plates. Available in eight beautiful colors:
  %ul
    %li Gloss Black
    %li Gloss White
    %li Candy Blue
    %li Candy Red
    %li Candy Purple
    %li Gold
    %li Green
    %li Moon Stone
    %li Silver Vein
    %li Red Silver
    %li Clear Coat Brass
    %li Glow-in-the-Dark
