#products.block.clear
  %h1 Search results for "#{params[:search]}"

  %table#results
    - if @combs.empty?
      %p No combs were found.
    %table#results
      - rows = @combs.each_slice(4).to_a
      - rows.each do |row|
        %tr
          - row.each do |comb|
            = render comb

    .clear
