.block.black{style: "padding: 20px;"}
  =CustomHtml.find_by_display_order(3).content.html_safe
#footer
  = link_to "Contact Us", "mailto:info@bluemoonharmonicas.com", id: 'contact_link'
  %p<
    Graphics, styles and code
    %strong &copy; #{Time.now.year} Blue Moon Harmonicas, LLC.
    All rights reserved.
  %p Site built by #{link_to 'Steven Petryk', 'http://stevenpetryk.com'}.
