#footer
  = link_to "Contact Us", "mailto:info@bluemoonharmonicas.com", id: 'contact_link'
  %p<
    Graphics, styles and code
    %strong &copy; #{Time.now.year} Blue Moon Harmonicas, LLC.
    All rights reserved.
